html {
    font-size: 22px;
}

body {
    color: black;
    background: dimgray;
    text-align: center;
    height: 100vh;
    font-family: monospace;
    padding: 0;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}
 a:visited, a:hover, a:active{color: black;}

h1 {
    margin: auto;
    border-radius: 30px;
    padding: 20px;
    width: auto;
}

p {
    max-width: 60%;
    text-align: left;
    margin: auto;
    padding-bottom: 50px;
}

ul {
    list-style: none;
    max-width: 90%;
    padding-left: 0;
    font-size: 1.6vw;
    margin: 30% 10%;
}

.main {
    background-color: whitesmoke;
    width: 75%;
    border-radius: 30px;
    padding-top: 3%;
    padding-bottom: 3%;
    margin: 5% auto 5% auto;
}

.navigation {
    position: fixed;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    max-width: 12%;
}

.footer {
    background-color: rgb(187, 187, 187);
    color: black;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.pdf {
    width: 60%;
    height: 80vh;
}

.portfolio {
    border: 2px solid black;
    border-radius: 30px;
    width: 30%;
    height: 100px;
    margin: auto;
    font-size: 20px;
}

.port-img {
    max-width: 80%;
    width: auto;
    height: auto;
}

.nav-img {
    margin-top: 10px;
    max-width: 30%;
}

.link-img {
    max-width: 5%;
    min-width: 40px;
}
